.mn-lyt{
}

.hdr-cont{
    display: flex;
    width: 100%;
}

.hdr-logo{
        display: flex;
        padding: 20px 0 0 60px;
        width: 200px;
        height: 200px;
}

.hdr-nav-cont{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.hdr-nav-cont > ul{
    display: flex;
    margin-top: 70px;
}

.hdr-nav-cont > ul > li{
    display: flex;
    padding: 10px  80px 10px 80px;
    font-size: 24px;
    color: #9bcf2b;
}

.bdy-cont{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.search-cont{
   display: flex;
   background-color: #bce06f;
   padding: 32px 0 ;
}

.search-bx{
    display: flex;
    border-radius: 5px;
    width: 250px;
    line-height: 26px;
    font-size: 20px;
    margin-left: 50px;
}

.ress-cont{
    display: flex;
    padding: 50px 0 50px 0;
    background-color: #ecf4c7;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.res-crd-cont{
   background-color: #ccdfa2;
    border-radius: 4px;
    flex-direction: column;
    gap: 10px;
    width: 284px;
    margin: 20px;
    padding: 1px 1px 10px;
    display: flex;
}

.res-crd-lbl{
    display: flex;
    font-size: 24px;
    padding: 0 10px;
}

.res-crd-img{
    display: flex;
    height: 200px;
    border-radius: 2px;
    border-bottom: 5px solid #ecf4c7;
}
.res-crd-rtg{
    display: flex;
    padding: 0 10px;
}
.res-crd-cns{
    display: flex;
    padding: 0 10px;
    font-size: 14px;
    color: #7f8b64
}